/* GLOBAL
-----------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BODY 
-----------------------------------------------------------------------------------*/

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/* HEADER
------------------------------------------------------------------------------------*/

        /* Changed all .header class selectors to header element selectors */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

        /*As there is only one h1 element, the selector does not need to be so specific ('header h1').
        So removed the other element selectors to leave just h1. */

h1 {
    display: inline-block;
    font-size: 48px;
}

        /* Changed the .seo class to abbr element as a descendant selector. 
        The text-decoration property set to 'none' to get rid of the dotted underline.
        There is only one abbr element, so selector did not need to be so specific ('header h1 abbr').
        So removed the other selectors to leave just abbr.  */

abbr {
    color: #d9dcd6;
    text-decoration: none;
}


    /* => Navigation Bar............*/

        /* Changed all div selectors descendent from the header element into nav element selectors
        
        There is only one nav element, and one ul element with an associated set of children li elements.
        So we can be less specific by simply using nav, ul and li respectively as selectors */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

        /*For hover effect, nav link colour changes slightly when hovered over*/

a:hover {
    background-color:#245268;
    padding: 25px;
}


/* MAIN
-------------------------------------------------------------------------------------*/

    /* => Hero Image........ */

        /*.hero class changed to hero-image */

.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

    /* => Main Content............*/

        /*Changed the .content class selector to main element selector */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

        /*Created the .main-content class to consolidate and replace the previous 3 classes. */

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
        
.main-content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

        /*Can be less specific using just h2 as selector without qualifying it with the main-content class. */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

    /* => Sidebar.............*/

        /*Changed the div element to aside, and pointed the CSS to the aside element. 
        Assigned a .benefit-all class to consolidate .benefit-lead, .benefit-brand and .benefit-cost */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-all {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

        /*Can be less specific with just h3 selector as it exists only under the benefit-all class. */

h3 {
    margin-bottom: 10px;
    text-align: center;
}



/* FOOTER
-------------------------------------------------------------------------------------*/

        /*footer class selector changed to footer element selector.
        Also added a dotted line to the top of the footer area to subtly demarcate the footer */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-top: dotted silver;
}

        /* h2 element changed to h4 for sequential ordering of heading attributes.
        Can be less specific and use just h4 as element selector, as it only appears in the footer element. */

h4 {
    font-size: 20px;
}
